$schema: https://moonrepo.dev/schemas/project.json
language: other
tags:
- tenant-shared
- tsconfig
fileGroups:
  sources:
  - src/**/*
  tests:
  - src/**/*.test.*
  - src/**/*.spec.*
  - test/**/*
  configs:
  - '*.config.*'
  - tsconfig*.json
  - .eslintrc*
  - .prettierrc*
  - package.json
tasks:
  build:
    inputs:
    - '@globs(sources)'
    - '@globs(configs)'
    outputs: []
    options:
      cache: true
      mergeOutputs: replace
layer: configuration
