$schema: https://moonrepo.dev/schemas/tasks.json
extends: ./go-library.yml
tasks:
  go-build:
    deps:
    - ^:go-build
    script: go build -o dist/$(basename $(pwd)) ./cmd/...
    inputs:
    - '@globs(sources)'
    - go.mod
    - go.sum
    outputs:
    - dist
    options:
      cache: true
  go-run:
    script: ./dist/$(basename $(pwd))
    deps:
    - go-build
    options:
      cache: false
      runInCI: false
      persistent: true
    preset: server
  go-install:
    command:
    - go
    - install
    - ./cmd/...
    deps:
    - go-build
    inputs:
    - '@globs(sources)'
    outputs: []
    options:
      cache: false
inheritedBy:
  toolchain: go
  layer: application
