$schema: https://moonrepo.dev/schemas/tasks.json
extends: ./tag-go.yml
tasks:
  ci-prepare:
    command: echo 'ci-prepare complete'
    deps:
    - go-build
    - go-test
    - go-lint
    - go-typecheck
    options:
      cache: false
inheritedBy:
  toolchain: go
  layer: library
