$schema: https://moonrepo.dev/schemas/tasks.json
tasks:
  npm-publish:
    command:
    - npx
    - moon-npm-publish
    deps:
    - target: ~:build
      optional: true
    - ^:npm-publish
    - moon-npm-publish:install
    options:
      cache: false
      runInCI: false
  npm-publish-dry-run:
    command:
    - npm
    - pack
    - --dry-run
    deps:
    - target: ~:build
      optional: true
    options:
      cache: false
      runInCI: false
  ci-publish:
    command: echo 'ci-publish complete'
    deps:
    - npm-publish
    options:
      cache: false
      runInCI: false
  npm-prepublish:
    command:
    - npx
    - moon-npm-prepublish
    deps:
    - moon-npm-prepublish:install
    options:
      cache: false
  ci-publish-dry-run:
    command: echo 'ci-publish-dry-run complete'
    deps:
    - npm-publish-dry-run
    options:
      cache: false
      runInCI: false
  version-bump:
    command:
    - npx
    - moon-version-bump
    deps:
    - moon-version-bump:install
    options:
      cache: false
inheritedBy:
  tag: npm
