$schema: https://moonrepo.dev/schemas/tasks.json
tasks:
  npm-publish:
    command:
    - npm
    - publish
    - --provenance
    - --access
    - public
    deps:
    - ^:npm-publish
    options:
      cache: false
      runInCI: false
  npm-publish-dry-run:
    command:
    - npm
    - pack
    - --dry-run
    options:
      cache: false
      runInCI: false
  ci-publish:
    command: echo 'ci-publish complete'
    deps:
    - npm-publish
    options:
      cache: false
      runInCI: false
  ci-publish-dry-run:
    command: echo 'ci-publish-dry-run complete'
    deps:
    - npm-publish-dry-run
    options:
      cache: false
      runInCI: false
inheritedBy:
  tag: npm
