$schema: https://moonrepo.dev/schemas/tasks.json
tasks:
  npm-publish:
    command:
      - npx
      - moon-npm-publish
    deps:
      - target: ~:build
        optional: true
      - ^:npm-publish
      - ~:npm-check
      - script-moon-npm-publish:install
    options:
      cache: false
      runInCI: false
  npm-publish-dry-run:
    command:
      - npx
      - moon-npm-publish
      - --dry-run
    deps:
      - target: ~:build
        optional: true
      - ~:npm-check
      - script-moon-npm-publish:install
    options:
      cache: false
      runInCI: false
  ci-publish:
    command: echo 'ci-publish complete'
    deps:
      - npm-publish
    options:
      cache: false
      runInCI: false
  npm-check:
    command:
      - npx
      - moon-npm-check
    deps:
      - script-moon-npm-check:install
    options:
      cache: false
  npm-lint-fix:
    script: npm pkg fix
    options:
      cache: false
  ci-publish-dry-run:
    command: echo 'ci-publish-dry-run complete'
    deps:
      - npm-publish-dry-run
    options:
      cache: false
      runInCI: false
  version-bump:
    command:
      - npx
      - moon-version-bump
    deps:
      - script-moon-version-bump:install
    options:
      cache: false
      runInCI: false
inheritedBy:
  tag: npm
