$schema: https://moonrepo.dev/schemas/tasks.json
implicitInputs:
- package.json
- tsconfig*.json
fileGroups:
  sources:
  - src/**/*
  configs:
  - '*.config.*'
  - tsconfig*.json
  - .eslintrc*
  - .prettierrc*
  - package.json
tasks:
  build:
    deps:
    - ^:build
    command:
    - npm
    - run
    - build
    inputs:
    - '@globs(sources)'
    - '@globs(configs)'
    outputs:
    - dist
    options:
      cache: true
      runDepsInParallel: true
  clean:
    command: bash -lc 'rm -rf dist'
    options:
      cache: false
    preset: server
  typecheck:
    command:
    - npm
    - run
    - typecheck
    deps:
    - ^:build
    inputs:
    - '@globs(sources)'
    - tsconfig*.json
    outputs: []
    options:
      cache: true
  lint:
    command:
    - npm
    - run
    - lint
    deps:
    - ^:build
    inputs:
    - '@globs(sources)'
    - '@globs(configs)'
    outputs: []
  lint-fix:
    command:
    - npm
    - run
    - lint:fix
    inputs:
    - '@globs(sources)'
    - '@globs(configs)'
    outputs: []
    options:
      cache: false
  fmt:
    command:
    - npm
    - run
    - fmt
    inputs:
    - '@globs(sources)'
    - '@globs(configs)'
    - '*.json'
    - '*.md'
    outputs: []
    options:
      cache: false
  ci-prepare:
    command: echo 'ci-prepare complete'
    deps:
    - build
    - lint
    - typecheck
    options:
      cache: false
  npm-publish:
    command:
    - npm
    - publish
    - --provenance
    - --access
    - public
    deps:
    - build
    options:
      cache: false
  npm-publish-dry-run:
    command:
    - npm
    - pack
    - --dry-run
    options:
      cache: false
  ci-publish:
    command: echo 'ci-publish complete'
    deps:
    - npm-publish
    options:
      cache: false
  ci-publish-dry-run:
    command: echo 'ci-publish-dry-run complete'
    deps:
    - npm-publish-dry-run
    options:
      cache: false
  fmt-check:
    command:
    - npm
    - run
    - fmt:check
    inputs:
    - '@globs(sources)'
    - '@globs(configs)'
    - '*.json'
    - '*.md'
    outputs: []
inheritedBy:
  toolchain: typescript
  layer: configuration
