$schema: https://moonrepo.dev/schemas/tasks.json
extends: ./typescript-library.yml
tasks:
  dev:
    script: npx vite dev
    deps:
    - ^:build
    options:
      cache: false
      runInCI: false
      persistent: true
    preset: server
  build-docker:
    script: docker build -t $projectName .
    inputs:
    - Dockerfile*
    - docker/**
    - .dockerignore
    - dist/**
    outputs: []
    options:
      cache: false
      runInCI: false
  test-e2e:
    script: npx vitest run --config vitest.e2e.config.ts
    type: test
    deps:
    - ^:build
    inputs:
    - '@globs(sources)'
    - '@globs(tests)'
    - '*.e2e.config.*'
    - vitest.e2e.config.*
    options:
      cache: true
      runInCI: true
inheritedBy:
  toolchain: typescript
  layer: application
