$schema: https://moonrepo.dev/schemas/tasks.json
extends: ./tag-typescript.yml
fileGroups:
  configs:
  - '*.config.*'
  - tsconfig*.json
  - .eslintrc*
  - .prettierrc*
  - package.json
tasks:
  test:
    script: echo 'no tests for config package'
    options:
      cache: false
  clean:
    script: rm -rf dist
    options:
      cache: false
  ci-prepare:
    command: echo 'ci-prepare complete'
    deps:
    - build
    - lint
    - typecheck
    options:
      cache: false
  npm-publish:
    command:
    - npm
    - publish
    - --provenance
    - --access
    - public
    deps:
    - build
    options:
      cache: false
  npm-publish-dry-run:
    command:
    - npm
    - pack
    - --dry-run
    options:
      cache: false
  ci-publish:
    command: echo 'ci-publish complete'
    deps:
    - npm-publish
    options:
      cache: false
  ci-publish-dry-run:
    command: echo 'ci-publish-dry-run complete'
    deps:
    - npm-publish-dry-run
    options:
      cache: false
inheritedBy:
  toolchain: typescript
  layer: configuration
