$schema: https://moonrepo.dev/schemas/tasks.json
extends: ./tag-typescript.yml
fileGroups:
  configs:
  - '*.config.*'
  - tsconfig*.json
  - .eslintrc*
  - .prettierrc*
  - package.json
tasks:
  test:
    script: echo 'no tests for config package'
    options:
      cache: false
  clean:
    script: rm -rf dist
    options:
      cache: false
  ci-prepare:
    command: echo 'ci-prepare complete'
    deps:
    - build
    - lint
    - typecheck
    options:
      cache: false
inheritedBy:
  toolchain: typescript
  layer: configuration
