$schema: https://moonrepo.dev/schemas/tasks.json
extends: ./tag-typescript.yml
tasks:
  ci-prepare:
    command: echo 'ci-prepare complete'
    deps:
    - build
    - test
    - lint
    - typecheck
    options:
      cache: false
inheritedBy:
  toolchain: typescript
  layer: library
