$schema: https://moonrepo.dev/schemas/tasks.json
extends: ./typescript-library.yml
tasks:
  dev:
    deps:
    - ^:build
    command:
    - npm
    - run
    - dev
    options:
      cache: false
      runInCI: false
      persistent: true
    preset: server
  build-docker:
    command:
    - npm
    - run
    - build:docker
    inputs:
    - Dockerfile*
    - docker/**
    - .dockerignore
    - dist/**
    outputs: []
    options:
      cache: false
      runInCI: false
  test-e2e:
    command:
    - npm
    - run
    - test:e2e
    type: test
    deps:
    - ^:build
    inputs:
    - '@globs(sources)'
    - '@globs(tests)'
    - '*.e2e.config.*'
    - vitest.e2e.config.*
    options:
      cache: true
      runInCI: true
inheritedBy:
  toolchain: typescript
  layer: application
